body{   
    background-color: #CCC;
}

.navigation{
    background-color: #9494b8;
}

.navigation ul li{
    display: inline;
}

.navigation a {
    color: #666699;
    padding: 10px 20px;
}

#magnification{
    height:200px;
}

.footer{
    color: #ccc;
    background-color: #eee;   
    height: 100px;
    width: 100%;
}
